@import "tailwindcss";

:root {
  --background: #f4f1de; /* Off-white */
  --foreground: #2d2a26; /* Dark earthy tone */
  
  --color-clay: #8c5a45;
  --color-terracotta: #e07a5f;
  --color-sand: #d9c5b2;
  --color-offwhite: #f4f1de;
  --color-olive: #818c78;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-clay: var(--color-clay);
  --color-brand-terracotta: var(--color-terracotta);
  --color-brand-sand: var(--color-sand);
  --color-brand-offwhite: var(--color-offwhite);
  --color-brand-olive: var(--color-olive);
  
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Utilities for smooth scroll & hiding scrollbars */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-sand);
}

::-webkit-scrollbar-thumb {
  background: var(--color-clay);
  border-radius: 4px;
}
